html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #FFFFFF;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

 .css-input { 
   font-size:16px; 
   border-color:#337ab7; 
   border-style:solid; 
   border-width:7px; 
   padding:14px; 
   background-color:#337ab7; 
   text-align:center; 
   font-family:sans-serif; 
   text-shadow:50px 0px 0px rgba(42,42,42,.0);    border-radius:19px;  
   margin-bottom: 10px;
} 
		 .css-input:focus { outline:none; } 

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}