html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #FFFFFF;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

 .css-input { 
   font-size:16px; 
   border-color:#337ab7; 
   border-style:solid; 
   border-width:7px; 
   padding:14px; 
   background-color:#337ab7; 
   text-align:center; 
   font-family:sans-serif; 
   text-shadow:50px 0px 0px rgba(42,42,42,.0);    border-radius:19px;  
   margin-bottom: 10px;
} 
     .css-input:focus { outline:none; } 

/* Header */
.uil-sunny-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-sunny-circle {
  position: absolute;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  top: 50px;
  left: 50px;
  background: #edb900;
}
.uil-sunny-light > div {
  position: absolute;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 25px solid #ff0000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.uil-sunny-light > div:nth-of-type(1) {
  -ms-transform: rotate(30deg) translate(70px, 0);
  -moz-transform: rotate(30deg) translate(70px, 0);
  -webkit-transform: rotate(30deg) translate(70px, 0);
  -o-transform: rotate(30deg) translate(70px, 0);
  transform: rotate(30deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(2) {
  -ms-transform: rotate(60deg) translate(70px, 0);
  -moz-transform: rotate(60deg) translate(70px, 0);
  -webkit-transform: rotate(60deg) translate(70px, 0);
  -o-transform: rotate(60deg) translate(70px, 0);
  transform: rotate(60deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(3) {
  -ms-transform: rotate(90deg) translate(70px, 0);
  -moz-transform: rotate(90deg) translate(70px, 0);
  -webkit-transform: rotate(90deg) translate(70px, 0);
  -o-transform: rotate(90deg) translate(70px, 0);
  transform: rotate(90deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(4) {
  -ms-transform: rotate(120deg) translate(70px, 0);
  -moz-transform: rotate(120deg) translate(70px, 0);
  -webkit-transform: rotate(120deg) translate(70px, 0);
  -o-transform: rotate(120deg) translate(70px, 0);
  transform: rotate(120deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(5) {
  -ms-transform: rotate(150deg) translate(70px, 0);
  -moz-transform: rotate(150deg) translate(70px, 0);
  -webkit-transform: rotate(150deg) translate(70px, 0);
  -o-transform: rotate(150deg) translate(70px, 0);
  transform: rotate(150deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(6) {
  -ms-transform: rotate(180deg) translate(70px, 0);
  -moz-transform: rotate(180deg) translate(70px, 0);
  -webkit-transform: rotate(180deg) translate(70px, 0);
  -o-transform: rotate(180deg) translate(70px, 0);
  transform: rotate(180deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(7) {
  -ms-transform: rotate(210deg) translate(70px, 0);
  -moz-transform: rotate(210deg) translate(70px, 0);
  -webkit-transform: rotate(210deg) translate(70px, 0);
  -o-transform: rotate(210deg) translate(70px, 0);
  transform: rotate(210deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(8) {
  -ms-transform: rotate(240deg) translate(70px, 0);
  -moz-transform: rotate(240deg) translate(70px, 0);
  -webkit-transform: rotate(240deg) translate(70px, 0);
  -o-transform: rotate(240deg) translate(70px, 0);
  transform: rotate(240deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(9) {
  -ms-transform: rotate(270deg) translate(70px, 0);
  -moz-transform: rotate(270deg) translate(70px, 0);
  -webkit-transform: rotate(270deg) translate(70px, 0);
  -o-transform: rotate(270deg) translate(70px, 0);
  transform: rotate(270deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(10) {
  -ms-transform: rotate(300deg) translate(70px, 0);
  -moz-transform: rotate(300deg) translate(70px, 0);
  -webkit-transform: rotate(300deg) translate(70px, 0);
  -o-transform: rotate(300deg) translate(70px, 0);
  transform: rotate(300deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(11) {
  -ms-transform: rotate(330deg) translate(70px, 0);
  -moz-transform: rotate(330deg) translate(70px, 0);
  -webkit-transform: rotate(330deg) translate(70px, 0);
  -o-transform: rotate(330deg) translate(70px, 0);
  transform: rotate(330deg) translate(70px, 0);
}
.uil-sunny-light > div:nth-of-type(12) {
  -ms-transform: rotate(360deg) translate(70px, 0);
  -moz-transform: rotate(360deg) translate(70px, 0);
  -webkit-transform: rotate(360deg) translate(70px, 0);
  -o-transform: rotate(360deg) translate(70px, 0);
  transform: rotate(360deg) translate(70px, 0);
}
width: 100%;
@-webkit-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@-webkit-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@-moz-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@-ms-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@-moz-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@-webkit-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@-o-keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
@keyframes uil-sunny-rotate {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg);
  }
}
.uil-sunny-light {
  width: 25px;
  height: 20px;
  -ms-animation: uil-sunny-rotate 1s linear infinite;
  -moz-animation: uil-sunny-rotate 1s linear infinite;
  -webkit-animation: uil-sunny-rotate 1s linear infinite;
  -o-animation: uil-sunny-rotate 1s linear infinite;
  animation: uil-sunny-rotate 1s linear infinite;
}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('http://media.gettyimages.com/photos/high-angle-view-of-york-minster-and-residential-district-against-sky-picture-id597691443');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  
}